@tailwind base;
@tailwind components;
@tailwind utilities;

.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111827; /* bg-gray-900 */
  z-index: 9999;
  animation: fadeOut 1s ease-in-out 2s forwards;
}

.splash-logo {
  width: 150px;
  height: 150px;
  animation: fadeInScaleUp 1.5s ease-out forwards;
}

@keyframes fadeInScaleUp {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; visibility: hidden; }
}